@font-face {
    font-family: pixelMix;
    src: url('../font/pixelmix.ttf');
}


/* init */
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
}


/* back */
div.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
div.back-object-container{
    width: 100%;
    height: 100%;
}
div.back-object{
    width: 100%;
    height: 100%;
}


/* globe */
div.globe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vmin;
    height: 100vmin;
}
div.globe-object-container{
    width: 100%;
    height: 100%;
}
div.globe-object{
    width: 100%;
    height: 100%;
}


/* globe2 */
div.globe2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vmax;
    height: 100vmax;
}
div.globe2-object-container{
    width: 100%;
    height: 100%;
}
div.globe2-object{
    width: 100%;
    height: 100%;
}
